/* general styles region */
:root {
    --wf-text-dark: #000000;
    --wf-header-bg: #0012b3;
    --wf-card-bg: hsl(192, 100%, 50%, 0.5);
    --wf-main-bg: linear-gradient(180deg, #f75d5d 0%, #008cff 60%, #ffc400 100%);
    --wf-text-light: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body styles region */
body {
    width: 512px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

/* header styles region*/
#app_header {
    padding: 1rem;
    background-color: var(--wf-header-bg);
    letter-spacing: 4px;
    font-family: "Cherry Bomb One", system-ui;
    color: var(--wf-text-light);
}

.title {
    font-size: 2.5rem;
}

/*crown icon animation*/
.jelly {
    animation: jelly 0.6s ease-in-out infinite;
}

@keyframes jelly {
    0% {
        transform: scale(1, 1);
    }

    25% {
        transform: scale(0.9, 1.1);
    }

    50% {
        transform: scale(1.1, 0.9);
    }

    75% {
        transform: scale(0.95, 1.05);
    }

    100% {
        transform: scale(1, 1);
    }
}


/* main styles region */
.card {
    border: 2px solid var(--wf-main-color);
    border-radius: 1rem;
    background-color: hsl(0, 0%, 100%);
    padding: 1rem;
    margin-bottom: 1rem;
    min-height: 120px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5)
}

.card_title {
    font-family: "Chewy", system-ui;
    letter-spacing: 0.2rem;
    font-weight: 100;
    text-transform: uppercase;
}

#app_main {
    padding: 1rem 2rem;
    min-height: 700px;
    background: var(--wf-main-bg)
}

/* footer styles region */
#app_footer {
    padding: 1rem;
    background-color: var(--wf-header-bg);
    font-family: "Cherry Bomb One", system-ui;
    color: var(--wf-text-light);
    font-size: 1.2rem;
}